[submodule "modules/gorgonzola-api-langs"]
	path = modules/gorgonzola-api-langs
	url = https://github.com/gorgonzola-graph-db/gorgonzola-api-langs.git
	ignore = dirty
[submodule "modules/gorgonzola-db-extensions"]
	path = modules/gorgonzola-db-extensions
	url = https://github.com/gorgonzola-graph-db/gorgonzola-db-extensions.git
	ignore = dirty
[submodule "dataset"]
	path = modules/dataset
	url = https://github.com/gorgonzola-graph-db/gorgonzola-datasets.git
	ignore = dirty
[submodule "modules/examples"]
	path = modules/examples
	url = https://github.com/gorgonzola-graph-db/gorgonzola-examples.git
	ignore = dirty
[submodule "benchmark"]
	path = modules/benchmark
	url = https://github.com/gorgonzola-graph-db/gorgonzola-benchmark.git
	ignore = dirty
[submodule "scripts"]
	path = modules/scripts
	url = https://github.com/gorgonzola-graph-db/gorgonzola-scripts.git
	ignore = dirty
[submodule "test"]
	path = modules/test
	url = https://github.com/gorgonzola-graph-db/gorgonzola-test.git
	ignore = dirty
[submodule "modules/third_party"]
	path = modules/third_party
	url = https://github.com/gorgonzola-graph-db/gorgonzola-third-party.git

[submodule "modules/benchmark"]
	path = modules/benchmark
	url = https://github.com/gorgonzola-graph-db/gorgonzola-benchmark.git
